<html>
    <head>
    {% include "headerlinks.html" %}
</head>      
<body>

<!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex">

      <div class="logo mr-auto">
          <h1 class="text-light"><a href="home">
            
          </a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
          <li class="active"><a href="home">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#steps">Model</a></li>
          {% if not current_user.is_authenticated %}
          <li><a href="/login">Login</a></li>
          <li><a href="chooseRole">Register</a></li>
          {% endif %}
          <li><a href="/#team">Team</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="/logout">Logout</a></li>
          {% endif %}
          </ul>
      </nav><!-- .nav-menu -->

  </div>
</header><!-- End Navbar -->

        <div class="page-wrapper chiller-theme toggled">

          <!--Crop Details section starts-->
          <body class="form-v10">
            <div class="page-content">
              <div class="form-v10-content">
                <form class="form-detail" {% if crop %} action="/addCropDetails?crop_id={{crop.crop_id}}" {% else %} action="/addCropDetails"{% endif %} method="POST" id="myform">
                  <form class="form-detail" {% if crop %} action="/addCropDetails?crop_id={{crop.crop_id}}" {% else %} action="/addCropDetails"{% endif %} method="POST" id="myform">
                    <div class="form-left">
                      <h2><b>Crop Details - Farmer's Portal</b></h2>
          
                      <div class="form-group">
                        <div class="form-row form-row-1">
                          <input type="text" name="crop_name" id="crop_name" class="input-text" placeholder="Crop Name" {% if crop %} value = "{{crop.crop_name}}" disabled {% endif %} required>
                        </div>
                        <div class="form-row form-row-2">
                          <select name="crop_type" {% if crop %} disabled  {% endif %} required>
                            <option {% if crop %} value = "{{crop.crop_type}}"  {% else %} value = "Choose Crop Type" {% endif %}>{% if crop %} {{crop.crop_type}} {% else %} Choose Crop Type {% endif %}</option>
                            <option value="fruits">Fruits</option>
                            <option value="vegetables">Vegetables</option>
                          </select>
                          <span class="select-btn">
                            <i class="zmdi zmdi-chevron-down"></i>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-row-1">
                          <input type="text" name="fertilizer" id="fertilizer" class="input-text" placeholder="Fertilizers used" {% if crop %} value = "{{crop.crop_fertilizer}}" disabled{% endif %} required>
                        </div>
                        <div class="form-row form-row-2">
                            <input type="number" name="quantity" id="quantity" class="input-text" placeholder="Quantity(in kgs)" {% if crop %} value = "{{crop.crop_quantity}}" {% endif %} required>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-detail">
                          <input type="text" name="source_tag_number" id="source_tag_number" class="input-text" placeholder="Source Tag Number" {% if crop %} value = "{{crop.crop_source_tag_number}}" disabled {% endif %} required>
                        </div>
                      </div>
                      
          
                      <div class="form-group">
                        <!-- <label for="example-date-input" class="col-2 col-form-label" style="margin-left: 50px; font-size: large;">SowingDate</label> -->
                        <p style="margin-left: 55px; font-size: large;"><b>Sowing date</b></p>
                        <div class="form-row form-row-1">
                          <input class="form-control" type="date" style="margin-left: 35px;" name="sowing_date" id="sowing_date" {% if crop %} value = "{{crop.crop_sowing_date}}" disabled {% endif %}>
                        </div>
                      </div>
          
                      <div class="form-group">
                        <!-- <label for="example-date-input" class="col-4 col-form-label" style="margin-left: 50px; font-size: large;">HarvestingDate</label> -->
                        <p style="margin-left: 55px; font-size: large;"><b>Harvesting date</b></p>
                        <div class="form-row form-row-1">
                          <input class="form-control" type="date"  style="margin-left: 1px;" name="harvesting_date" id="harvesting_date" {% if crop %} value = "{{crop.crop_harvesting_date}}"{% endif %}>
                        </div>
                      </div>
          
                      <div class="form-row">
                        <button type="button submit" class="btn btn-dark btn-lg" style="padding: 10px; width: 40%;"><h3>Submit</h3></button>
                      </div>
          
                    </div>
                    <div class="form-right" style="width:35%;">
                        <img src="https://images.unsplash.com/photo-1492496913980-501348b61469?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" style="height: 400px; margin-top: 100px; width: 300px;">
                    </div>
                </form>
              </div>
            </div>
            <!--Crop Details section ends-->

          {% extends "sidebar.html" %}
        </div>
    </body>
</html>

