<html>
    <head>
    {% include "headerlinks.html" %}
</head>      
<body>

<!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex">

      <div class="logo mr-auto">
          <h1 class="text-light"><a href="home">
            
          </a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
          <li class="active"><a href="home">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#steps">Model</a></li>
          {% if not current_user.is_authenticated %}
          <li><a href="/login">Login</a></li>
          <li><a href="chooseRole">Register</a></li>
          {% endif %}
          <li><a href="/#team">Team</a></li>
          {% if current_user.is_authenticated %}
          <li><a href="/logout">Logout</a></li>
          {% endif %}
          </ul>
      </nav><!-- .nav-menu -->

  </div>
</header><!-- End Navbar -->

        <div class="page-wrapper chiller-theme toggled">

          <!--Crop Details section starts-->
          <body class="form-v10">
            <div class="page-content">
              <div class="form-v10-content">
                  <form class="form-detail" action="/addTransactionDetails" method="POST" id="transactionForm">
                    <div class="form-left">

                      {% if current_user.role == "FARMER" %}
                        <h2><b>Farmer's transaction Details Portal</b></h2>
                      {% elif current_user.role == "FPC" %}
                        <h2><b>FPC's transaction Details Portal</b></h2>
                      {% elif current_user.role == "RETAIL_STORE" %}
                        <h2><b>Retailer's transaction Details Portal</b></h2>
                      {% endif %}

                      <div class="form-group">
                          <div class="form-row form-row-1">
                            <input type="number" name="crop_id" id="crop_id" class="input-text" style="display:none"  placeholder="">
                          </div>
                      </div>

                      {% if current_user.role != "RETAIL_STORE" %}
                      <div class="form-group">
                        <div class="form-row form-row-1">
                            <input type="text" name="seller_name" id="seller_name" class="input-text" value={{current_user.name}} disabled placeholder="Seller Name" required>
                        </div> 
                        <div class="form-row form-row-1">
                            
                            <select name="buyer_name" id="buyer_name" required>
                              <option selected="true" disabled>Choose Buyer</option>
                              {% for seller in sellers %}
                              <option value="{{seller.address}}">{{seller.name}}</option>
                              {% endfor %}
                            </select>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="form-row form-row-1">
                            <input type="text" name="crop_name" id="crop_name" class="input-text" placeholder="Crop Name" required>
                        </div>
                          <div class="form-row form-row-1">
                            <input type="number" name="quantity" id="quantity" class="input-text"  placeholder="Quantity(in kgs)" {% if crop %} value = "{{crop.crop_quantity}}" {% endif %} required>
                          </div>
                      </div>

                      <div class="form-group">
                        {% if current_user.role == 'FPC' %}
                        <div class="form-row form-row-1">
                          <input type="text" name="product_grade" id="grade" class="input-text" placeholder="Product Grade" required>
                        </div>
                        {% endif %}
                        <div class="form-row form-row-1">
                          <input type="number" name="cost" id="cost" class="input-text" placeholder="Cost (in INR)" required>
                        </div>
                      </div>

                      <div class="form-row">
                        <button type="button submit" class="btn btn-dark btn-lg" style="padding: 10px; width: 40%;" id="next" name="next"><h3>Next</h3></button>
                      </div>
                      {% endif %}

                      {% if current_user.role == "RETAIL_STORE" %}
                      <div class="form-row form-row-1">
                        <input type="text" name="crop_name" id="crop_name" class="input-text" placeholder="Crop Name" required>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-row-1">
                          <input type="number" name="quantity" id="quantity" class="input-text" placeholder="Quantity(in kgs)" {% if crop %} value = "{{crop.crop_quantity}}" {% endif %} required>
                        </div>
                        <div class="form-row form-row-1">
                          <input type="number" name="cost" id="cost" class="input-text" placeholder="Cost(MRP)" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-row-1">
                          <input class="form-control" type="date"  style="margin-left: 1px;" name="sell_date" id="sell_date" required>
                        </div>
                      </div>
                      <div class="form-row">
                        <button type="button submit" class="btn btn-dark btn-lg" style="padding: 10px; width: 40%;" id="submit" name="submit"><h3>Submit</h3></button>
                      </div>
                      {% endif %}
                    </div>
                    <div class="form-right" style="width:35%;">
                        <img src="https://images.unsplash.com/photo-1604300721398-3f58fdf81780?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y3JvcCUyMHNlbGxlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60" style="height:350px; margin-top: 50px; width: 300px;">
                    </div>
                </form>
              </div>
            </div>

            {% include "sidebar.html" %}    
        </div>
    </body>
    <script>
    $(document).ready(function() {

    var url_string = window.location.href;
    var url = new URL(url_string);
    document.getElementById('crop_id').value = url.searchParams.get("crop_id");
    document.getElementById('quantity').value = url.searchParams.get("crop_quantity");
    document.getElementById('crop_name').value = url.searchParams.get("crop_name");
    });


 
    

    
    </script>

</html>