
<!DOCTYPE html>
<html>

	<head>
        {% include "headerlinks.html" %}
    </head>

     <!-- ======= Navbar ======= -->
     <header id="header" class="fixed-top">
        <div class="container d-flex">
    
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="home">
                  <a href="home"><img src="static/img/logo.png" alt="" class="img-fluid"></a>Agrichain
                </a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
              </div>
    
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li><a href="home">Home</a></li>
              <li><a href="/#about">About</a></li>
              <li><a href="/#steps">Model</a></li>
              <li><a href="login">Login</a></li>
              <li class="active"><a href="chooseRole">Register</a></li>
              <li><a href="/#team">Team</a></li>
            </ul>
          </nav><!-- .nav-menu -->
    
        </div>
      </header><!-- End Navbar -->
    
<body>


<div class="page-content">
    <div class="form-v10-content" style=width:750px;>
        <form class="form-detail" action="{{url_for('common.chooseRole')}}" method="POST" enctype="multipart/form-data" id="myform">
            <div class="form-left">
                <h2 style="text-align: center; margin-bottom: 70px;"><b>Welcome to AgriChain!</b></h2>
                <h3 class="text-dark" style="margin-left: 60px; margin-bottom: 35px;"><b>Choose your role in the system</b></h3>

                <div class="form-group">
                    <div class="form-row form-row-2">
                        <select name="role" style="margin-left: 40px;">
                            <label for="">Choose your Role in the system</label>
                            <option value="choose">Choose</option>
                            <option value="farmer">Farmer</option>
                            <option value="fpc">FPC</option>
                            <option value="retailer">Retail Store Owner</option>
                        </select>
                        <span class="select-btn">
                            <i class="zmdi zmdi-chevron-down"></i>
                        </span>
                    </div>
                </div>
                
                <div class="form-row">
                    <button type="button submit" class="btn btn-dark btn-lg"><h3>Register</h3></button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
