<html>
    <head>
      {% include "headerlinks.html" %}
<!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="home">
              
            </a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
          </div>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#steps">Model</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            <li><a href="chooseRole">Register</a></li>
            {% endif %}
            <li><a href="/#team">Team</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Navbar -->
        
<body>
  <script>
    function printCard(divName) {
      var printContents = document.getElementById(divName).innerHTML;
      var originalContents = document.body.innerHTML;
      document.body.innerHTML = printContents;
      window.print();
      document.body.innerHTML = originalContents;
    }
</script>
    <div class="page-wrapper chiller-theme toggled">
        <body class="form-v10">
            <div class="page-content">
              <div class="form-v10-content" style="width: 80%;">
                    <h2 style="text-align: center; margin-bottom: 8px;"><b>Your Transaction List</b></h2>  
                <!--Crop List section starts-->
                {% if txns %}
                    <div class="row">
                        {% for txn in txns %}
                            <div class="card" style="width: 60%; margin: 3%" id="printable{{txn.txn_id}}">
                                <div class="row card-body" style="padding: 18px 24px">
                                  <div class="col-md-6 ">
                                    <h5 class="card-title">Crop Name : {{txn.crop_name}}</h5>
                                    {% if txn.buyer_name == current_user.name %}
                                    <p class="card-text">Seller Name : {{txn.seller_name}}</p>
                                    {% elif current_user.role != 'RETAIL_STORE' %}
                                    <p class="card-text">Buyer Name : {{txn.buyer_name}}</p>
                                    {% else %}
                                    <p class="card-text">Buyer: Customer</p>
                                    {% endif %}
                                  </div>
                                  <div class="col-md-6">
                                    <div class="row">
                                      <a class="btn btn-lg btn-secondary" style="font-size: medium;margin:3%" data-toggle="collapse" href="#collapseExample{{txn.txn_id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        See more details
                                      </a>
                                      {% if current_user.role != 'FARMER' and txn.isActive and txn.buyer_name == current_user.name %}
                                      <a href="/addTransactionDetails?crop_id={{txn.crop_id}}&crop_quantity={{txn.quantity}}&crop_name={{txn.crop_name}}&prev_package_id={{txn.txn_id}}" class="btn btn-lg btn-danger" style="font-size: medium;margin:3%">Sell</a>
                                      {% else %}<button disabled type="button" style="font-size: medium;margin:3%" class="btn btn-success">Sold</button>
                                      {% endif %}
                                    </div>
                                  </div>
                                </div>

                                <div class="collapse" id="collapseExample{{txn.txn_id}}">
                                  <div class="card card-body">
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item">Package ID : {{txn.txn_id}}</li>
                                      {% if current_user.role != 'RETAIL_STORE' %}<li class="list-group-item">Buyer Name : {{txn.buyer_name}}</li>{% endif %}
                                      <li class="list-group-item">Quantity : {{txn.quantity}}</li>
                                      <li class="list-group-item">Price : {{txn.price}}</li>
                                      {% if current_user.role == 'FPC' %}<li class="list-group-item">Grade : {{txn.grade}}</li>{% endif %}
                                      <button type="button submit" class="btn btn-lg btn-secondary" style="margin-right: 10px; padding: 10px" name="printButton" onclick="printCard('printable{{txn.txn_id}}')"><h4>Print Receipt</h4></button>
                                      </ul>
                                  </div>
                                </div>
                            </div>

                        {% endfor %}                            
                    </div>
                {% else %}
                <h3 style="text-align: center; margin-top: 16px;">You do not have any transactions </h3>
                {% endif %}
                <!--Crop List section ends-->
              {% extends "sidebar.html" %}
        </div>
    </body>
</html>
