<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <title>Display Crops</title>
        
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Font-->
        <link rel="stylesheet" type="text/css" href="../static/css/montserrat-font.css">
        <link rel="stylesheet" type="text/css" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Main Style Css -->
        <link rel="stylesheet" href="../static/css/index.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <!-- Vendor CSS Files -->
        <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="../static/vendor/aos/aos.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/sidebarCombined.css" rel="stylesheet">


<!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="home">
              
            </a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
          </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#steps">Model</a></li>
            <li><a href="/#team">Team</a></li>
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Navbar -->
        
<body>
    <div class="page-wrapper chiller-theme toggled">
        <body class="form-v10">
            <div class="page-content">

            <!--Crop List section starts-->
              <div class="form-v10-content" style="width: 80%;">
                    <h2 style="text-align: center; margin-bottom: 8px;"><b>Your Crop List</b></h2>
                    
                    <div class="row">

                        <!--Create a for loop here, for each crop this div will be generated-->
                            <!--Card 1-->
                            <div class="card" style="width: 18rem; margin: 3%">
                                <div class="card-body">
                                <h5 class="card-title">Crop type</h5>
                                <p class="card-text">Crop name</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                <li class="list-group-item">Crop ID</li>
                                <li class="list-group-item">Fertilizers</li>
                                <li class="list-group-item">Source tag Number</li>
                                <li class="list-group-item">Quantity</li>
                                <li class="list-group-item">Sowing Date</li>
                                <li class="list-group-item">Harvesting date</li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="btn btn-lg btn-primary">Update</a>
                                </div>
                            </div>
                            
                    </div>
            <!--Crop List section ends-->

           

          <!--Sidebar for navigation starts-->
          <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">

              <div class="sidebar-header">
                <div class="user-info">
                  <span class="user-name">
                    <strong><h3>Ruchi Mehta</h3></strong>
                  </span>
                  <span class="user-role">Farmer</span>
                </div>
              </div>
              
              <!-- sidebar-links  -->
              <div class="sidebar-menu">
                <ul>
                  <li class="header-menu">
                    <span>General</span>
                  </li>
                  <li class="sidebar">
                    <a href="#">
                      <i class="fas fa-plus-circle"></i>
                      <span>Add Crop Details</span>
                    </a>
                  </li>
                  <li class="sidebar">
                    <a href="#">
                      <i class="fas fa-pen-square"></i>
                      <span>Update Crop Details</span>
                    </a>
                  </li>
                  <li class="sidebar">
                    <a href="#">
                      <i class="far fa-id-badge"></i>
                      <span>Profile</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-book"></i>
                      <span>Crops issued</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-calendar"></i>
                      <span>Calendar</span>
                    </a>
                  </li>
                </ul>
              </div>
              <!-- sidebar-menu  -->
            </div>
          </nav>
        </div>
    </body>
</html>