<html>
    <head>
      {% include "headerlinks.html" %}
    </head>
<!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="home">
              
            </a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
          </div>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#steps">Model</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            <li><a href="chooseRole">Register</a></li>
            {% endif %}
            <li><a href="/#team">Team</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Navbar -->
<script>
  function printCard(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;
    document.body.innerHTML = printContents;
    window.print();
    document.body.innerHTML = originalContents;
  }
</script>       
<body>
    <div class="page-wrapper chiller-theme toggled">
      
        <body class="form-v10">
            <div class="page-content">

              <div class="form-v10-content" style="width: 67%;">
              <h2 style="text-align: center; margin-bottom: 10%;"><b>Your Transaction List</b></h2>
              <form class="form-detail" style=" margin-left: 23%;margin-bottom:0px" action="/displayTransactions" method="POST" id="filterForm">
                  <div class="form-left" style="margin-bottom:0px">
                    <div class="form-group" style="margin-bottom:0px" >
                      <div style="padding: 0%;">
                        <div style="color:black; margin-top: 20px;"><h3><b>Filter By:</b></h3></div> 
                      </div>
                      <div class="form-row px-5" >                                               
                        <select name="txnFilter" id="txnFilter" required>
                          {% if txnFilter == "all" %}<option selected="true" value="all">All</option>{% else %}<option value="all">All</option>{% endif %}
                          {% if txnFilter == "bought" %}<option selected="true" value="bought">Bought Items</option>{% else %}<option value="bought">Bought Items</option>{% endif %}
                          {% if txnFilter == "sold" %}<option selected="true" value="sold">Sold Items</option>{% else %}<option value="sold">Sold Items</option>{% endif %}
                        </select>
                      </div>
                      <div class="form-row px-4 mt-3">
                        <button type="button submit" class="btn btn-info btn-sm px-4" id="next" name="next"><h3>Select</h3></button>
                      </div>
                    </div>
                  </div>
                </form>


                <!--Crop List section starts-->
                {% if txns %}
                    <div class="row">
                        {% for txn in txns %}
                            <div class="card" style="width: 90%; margin: 3%" id="printable{{txn.txn_id}}">
                                <div class="row card-body" style="padding: 18px 24px">
                                  <div class="col-md-6 ">
                                    <h5 class="card-title">Crop Name : {{txn.crop_name}}</h5>

                                    {% if txn.buyer_name == current_user.name %}
                                    <h3 class="card-text mb-1">Seller Name : {{txn.seller_name}}</h3>
                                    {% elif current_user.role != 'RETAIL_STORE' %}
                                    <h3 class="card-text mb-1">Buyer Name : {{txn.buyer_name}}</h3>
                                    {% else %}
                                    <h3 class="card-text mb-1">Buyer: Customer</h3>
                                    {% endif %}

                                    {% if current_user.role != 'FARMER' and txn.isActive %}
                                    <p class="card-text">Quantity Remaining: {{txn.remaining_quantity}}</p>
                                    {% endif %}

                                  </div>
                                  <div class="col-md-6">
                                    <div class="row">
                                      <a class="btn btn-lg btn-secondary" style="font-size: medium;margin:3%" data-toggle="collapse" href="#collapseExample{{txn.txn_id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                        See more details
                                      </a>
                                      {% if current_user.role != 'FARMER' and txn.isActive and txn.buyer_name == current_user.name %}
                                      <a href="/addTransactionDetails?crop_id={{txn.crop_id}}&crop_quantity={{txn.remaining_quantity}}&crop_name={{txn.crop_name}}&prev_package_id={{txn.txn_id}}" class="btn btn-lg btn-danger" style="font-size: medium;margin:3%">Sell</a>
                                      {% else %}<button disabled type="button" style="font-size: medium;margin:3%" class="btn btn-success">Sold</button>
                                      {% endif %}
                                      <a href="/tracking?t_id={{txn.txn_id}}" class="btn btn-lg btn-warning" style="font-size: medium;margin:3%">Track</a>
                                    </div>
                                  </div>
                                </div>

                                <div class="collapse" id="collapseExample{{txn.txn_id}}">
                                  <div class="card card-body">
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item"><b><h3>Package Information</h3></b></li>
                                      <li class="list-group-item">Package ID : {{txn.txn_id}}</li>
                                      {% if current_user.role != 'RETAIL_STORE' %}<li class="list-group-item">Buyer Name : {{txn.buyer_name}}</li>{% endif %}
                                      <li class="list-group-item">Total Purchased Quantity : {{txn.quantity}} kgs</li>
                                      <li class="list-group-item">Price : Rs. {{txn.price}}</li>
                                      {% if txn.seller_type == 1 %}<li class="list-group-item">Grade : {{txn.grade}}</li>{% endif %}

                                      {% if txn.buyer_type != 3 %}
                                      <li class="list-group-item"><b><h3>Logistics Information</h3></b></li>
                                      <li class="list-group-item">Vehicle Type : {{txn.vehicle_type}}</li>
                                      <li class="list-group-item">Vehicle Number: {{txn.vehicle_number}}</li>
                                      <li class="list-group-item">Driver Name : {{txn.driver_name}}</li>
                                      <li class="list-group-item">Driver Contact : {{txn.driver_contact}}</li>
                                      <li class="list-group-item">Dispatched On : {{txn.dispatch_date}}</li>
                                      {% endif %}
                                      <button type="button submit" class="btn btn-lg btn-secondary" style="margin-right: 10px; padding: 10px" name="printButton" onclick="printCard('printable{{txn.txn_id}}')"><h4>Print Receipt</h4></button>
                                    </ul>
                                  </div>
                                </div>
                            </div>

                        {% endfor %}                            
                    </div>
                {% else %}
                <h3 style="text-align: center; margin-top: 16px;">You do not have any transactions </h3>
                {% endif %}
                <!--Crop List section ends-->
              {% extends "sidebar.html" %}
        </div>
    </body>
</html>
