<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
        <title>Farm to Hub logistics</title>
        
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Font-->
        <link rel="stylesheet" type="text/css" href="../static/css/montserrat-font.css">
        <link rel="stylesheet" type="text/css" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Main Style Css -->
        <link rel="stylesheet" href="../static/css/index.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
        <!-- Vendor CSS Files -->
        <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="../static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="../static/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="../static/vendor/aos/aos.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="../static/css/style.css" rel="stylesheet">
        <link href="../static/css/sidebarCombined.css" rel="stylesheet">

</head>


<!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="home">
              
            </a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
          </div>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#steps">Model</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            <li><a href="chooseRole">Register</a></li>
            {% endif %}
            <li><a href="/#team">Team</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Navbar -->
        
    <body>
        <div class="page-wrapper chiller-theme toggled">

          <!--Crop Details section starts-->
          <body class="form-v10">
            <div class="page-content">
              <div class="form-v10-content">
                <form class="form-detail">
                  <form class="form-detail">
                    <div class="form-left">
                      <!--Name has to be modified depending on role-->
                      <h2><b>Add Farm-to-Hub logistics info</b></h2>
                      <div class="form-group">
                        <div class="form-row form-row-1">
                          <input type="number" name="Vehicle number" id="vehicle_number" class="input-text" placeholder="Vehicle number" required>
                        </div>
                        <div class="form-row form-row-2">
                          <select name="vehicle_type" required>
                            <option>Choose Vehicle Type</option>
                            <option value="controlled">Temperature controlled</option>
                            <option value="normal">Normal</option>
                          </select>
                          <span class="select-btn">
                            <i class="zmdi zmdi-chevron-down"></i>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-detail">
                            <input type="text" name="l_id" id="l_id" class="input-text" placeholder="Logistics ID" required>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-detail">
                            <input type="text" name="driver_name" id="driver_name" class="input-text" placeholder="Driver's name" required>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-row-3"> 
                            <label for="contact" style="font-size: medium; margin-left: 15px;">Driver's contact number :</label>
                            <input type="tel" id="driver_contact" class="input-text" pattern="[0-9]{5}-[0-9]{5}" placeholder="98998-23445" required>
                        </div>
                      </div>
                      
          
                      <div class="form-group">
                        <!-- <label for="example-date-input" class="col-2 col-form-label" style="margin-left: 50px; font-size: large;">SowingDate</label> -->
                        <p style="margin-left: 70px; font-size: medium;"><b>Dispatch date :</b></p>
                        <div class="form-row form-row-1">
                          <input class="form-control" type="date" style="margin-left: 35px;" name="dispatch_date" id="dispatch_date">
                        </div>
                      </div>
          
                      <div class="form-row">
                        <button type="button submit" class="btn btn-dark btn-lg" style="padding: 10px; width: 40%;"><h3>Submit</h3></button>
                      </div>
          
                    </div>
                    <div class="form-right" style="width:35%;">
                        <img src="https://cdn.pixabay.com/photo/2016/11/29/04/15/drive-1867268__480.jpg" style="height: 350px; margin-top: 110px; width: 300px;">
                    </div>
                </form>
              </div>
            </div>
            <!--Crop Details section ends-->

            {% extends "sidebar.html" %}
        </div>

    </body>
</html>

