<html>
    <head>
      {% include "headerlinks.html" %}
</head>


<!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="home">
              
            </a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
          </div>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#steps">Model</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            <li><a href="chooseRole">Register</a></li>
            {% endif %}
            <li><a href="/#team">Team</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Navbar -->
        
    <body>
        <div class="page-wrapper chiller-theme toggled">

          <!--Crop Details section starts-->
          <body class="form-v10">
            <div class="page-content">
              <div class="form-v10-content">
                <form class="form-detail" action="/logistics" method="POST" id="logisticsForm">
                    <div class="form-left">
                      <!--Name has to be modified depending on role-->
                      {% if current_user.role == "FARMER" %}
                        <h2><b>Add Farm-to-Hub logistics info</b></h2>
                      {% elif current_user.role == "FPC" %}
                        <h2><b>Add Hub-to-Retailer logistics info</b></h2>
                      {% endif %}
                      <div class="form-group">
                        <div class="form-row form-row-1">
                          <label for="">Vehicle Number</label>
                          <input type="text"  id="vehicle_number" name="vehicle_number" class="input-text" placeholder="" required>
                        </div>
                        <div class="form-row form-row-2">
                          <label for="">Vehicle Type</label>
                          <select name="vehicle_type" required>
                            <option>Choose Type</option>
                            <option value="controlled">Temperature controlled</option>
                            <option value="normal">Normal</option>
                          </select>
                          <span class="select-btn">
                            <i class="zmdi zmdi-chevron-down"></i>
                          </span>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-detail">
                            <label for="p_id">Package ID :</label>
                            <input type="text" name="p_id" id="p_id" class="input-text" placeholder="Package ID" disabled value={{package_id}}>
                            <input type="text" name="package_id" id="package_id" class="input-text" placeholder="Package ID" style="display:none" value={{package_id}}> 
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-detail">
                          <label for="">Driver's Name</label>
                            <input type="text" name="driver_name" id="driver_name" class="input-text" placeholder="" required>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="form-row form-row-3"> 
                            <label for="contact">Driver's contact number :</label>
                            <input type="tel" id="driver_contact" name="driver_contact" class="input-text" pattern="[0-9]{10}" placeholder="9899823445" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <p style="margin-left:10%;"><b>Dispatch date :</b></p>
                        <div class="form-row form-row-1">
                          <input class="form-control" type="date" style="margin-left: 35px;" name="dispatch_date" id="dispatch_date">
                        </div>
                      </div>
          
                      <div class="form-row">
                        <button type="button submit" class="btn btn-dark btn-lg" style="padding: 10px; width: 40%;"><h3>Submit</h3></button>
                      </div>
          
                    </div>
                    <div class="form-right" style="width:35%;">
                        <img src="https://cdn.pixabay.com/photo/2016/11/29/04/15/drive-1867268__480.jpg" style="height: 350px; margin-top: 110px; width: 300px;">
                    </div>
                </form>
              </div>
            </div>

            {% include "sidebar.html" %}

        </div>

    </body>
</html>

