<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "headerlinks.html" %}
        <script src="../static/js/jquery-3.5.1.js"></script>

    </head>

<!-- ======= Navbar ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="home">
              <a href="home"><img src="static/img/logo.png" alt="" class="img-fluid"></a>Agrichain
            </a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
          </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#steps">Model</a></li>
          <li><a href="login">Login</a></li>
          <li class="active"><a href="chooseRole">Register</a></li>
          <li><a href="/#team">Team</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Navbar -->

    <body class="form-v10">
        <div class="page-content">
            <div class="form-v10-content" style="width:750px;">
                <form class="form-detail" action="/registerFarmer" method="POST" id="myform">
                    <div class="form-left">
                        <h2><b>Please register yourself as a Farmer.</b></h2>

                    <div class="form-group">
                        <div class="form-row w-100">
                            <input type="email" id="email" name="email" pattern="[^@]*@[^@].[^@]*" class="input-text" placeholder="Your email" required>
                        </div>
                    </div>
                    <div class="form-group">
							<div class="form-row form-row-1">
                                <input type="text" name="farmer_name" id="farmer_name" class="input-text" placeholder="Enter your Name" required>
                            </div>
                            <div class="form-row form-row-1">
                            <input type="password" name="password" class="input-text" placeholder="Password">
                            </div>
                    </div>


                    <div class="form-group">
                        <label for="exampleFormControlInput1" style="margin-left: 70px;"><h3 style="color: black;"><b>You can add multiple plots</b></h3></label>
                    </div>

                    <div id="container">


                        <div id="plot_form">

                            <div class="form-group">
                                <div class="form-row form-row-1">
                                    <input type="text" name="plot_number" id="plot_number" class="input-text" placeholder="Enter Plot Number" required>
                                </div>
                                <div class="form-row form-row-1">
                                    <input type="text" name="plot_owner" id="plot_owner" class="input-text" placeholder="Enter Plot Owner" required>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row form-row-1">
                                    <input type="text" name="plot_address" id="plot_address" class="input-text" placeholder="Enter Plot Address" required>
                                </div>
                            </div>
    
                            
                            <div class="form-row">
                                <button id="add_form_field" type="button" class="btn btn-link"><h3 style="color: green;">+ Add Another Plot</h3></button>
                            </div>
                            
                        </div>

                    </div>

                    <div class="form-row form-row-1 " style="margin-top: 15px;">
                        <button type="button submit" class="btn btn-dark btn-lg margin-left:20px;"><h3>Submit</h3></button>
                    </div>

                   
                </form>
            </div>
        </div>
    </body>

<script>


$(document).ready(function() {
    var max_fields = 3;
    var wrapper = $("#container");
    var add_button = $("#add_form_field");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        var plot_form_new = document.createElement('div');
        var plot_form = document.getElementById("plot_form")

        var plot_form_div_content = `<div id='plot_form'>                             
                            <div class='form-group'> 
                                <div class='form-row form-row-1'>
                                    <input type='text' name='plot_number_`  + x.toString() + `' id='plot_number_`  + x.toString() + `' class='input-text' placeholder='Enter Plot Number' required>
                                </div>
                                <div class='form-row form-row-1'>
                                    <input type='text' name='plot_owner_`  + x.toString() + `' id='plot_owner_`  + x.toString() + `' class='input-text' placeholder='Enter Plot Owner' required>
                                </div>
                            </div>

                            <div class='form-group'>
                                <div class='form-row form-row-1'>
                                    <input type='text' name='plot_address_`  + x.toString() + `' id='plot_address_`  + x.toString() + `' class='input-text' placeholder='Enter Plot Address' required>
                                </div>
                            </div>
                        </div>`;


        plot_form_new.innerHTML = "<div>" + plot_form_div_content +"<a href='#' style='color:red;' class='delete form-row'><h3>Delete<h3></a></div>";
        plot_form_new.id = plot_form.id + '_' + x.toString();
        
        if (x < max_fields) {
            x++;
            $(wrapper).append(plot_form_new); //add input box

        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
}); 
</script>

</html>
