<html>
    <head>
      {% include "headerlinks.html" %}

<!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="home">
              <a href="home"><img src="static/img/logo.png" alt="" class="img-fluid"></a>Agrichain
            </a></h1>
          </div>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="home">Home</a></li>
            <li><a href="/#about">About</a></li>
            <li><a href="/#steps">Model</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            <li><a href="chooseRole">Register</a></li>
            {% endif %}
            <li><a href="/#team">Team</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Navbar -->

<body>

    <div class="page-wrapper chiller-theme toggled">

        <body class="form-v10">
            <div class="page-content">

                <div style="width: 80%; margin-top: 70px;">
                    {% for mesg in get_flashed_messages() %}
                    <h2 class="alert alert-success">{{ mesg }}</h2>
                    {% endfor %}
                </div>
              <div class="form-v10-content" style="width: 80%; margin-top: 0%; ">
                <h1><b style="color: #4835d4; text-align:center">Please register yourself as an FPC</b></h1>
                </div>

                <div class="form-v10-content" style="width:80%; margin-top: -80px;">
                    <form class="form-detail" action="/registerFPC" method="POST" enctype="multipart/form-data" id="myform">
                        <div class="form-left">
                            <div class="form-group">
                                <div class="form-row form-row-1">
                                    <input type="email" id="email" name="email" pattern="[^@]*@[^@].[^@]*" class="input-text" placeholder="Your email" required>
                                 </div>
                                <div class="form-row">
                                    <input type="password" name="password" class="input-text" placeholder="Password">
                                </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                              <input type="text" name="fpc_name" id="fpc_name" class="input-text" placeholder="FPC Name" required>
                            </div>
                            <div class="form-row form-row-1">
                                <input type="text" name="director" id="director" class="input-text" placeholder="Director" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <input type="text" name="reg_number" id="reg_number" class="input-text" placeholder="Registration Number" required>
                            </div>
                            <div class="form-row form-row-1">
                                <input type="number" name="capacity" id="capacity" class="input-text" placeholder="Capacity(in kgs)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row form-detail">
                              <input type="text" name="location" id="location" class="input-text" placeholder="Enter location of FPC" required>
                            </div>
                        </div>
                        <div class="form-row form-row-1 " style="margin-top: 15px;">
                            <button type="button submit" class="btn btn-dark btn-lg margin-left:20px;"><h3>Submit</h3></button>
                        </div>
                    </form>
                </div>
        </div>
    </body>
</html>