<!DOCTYPE html>
<html>

{% block content %}
	<head>
        {% include "headerlinks.html" %}
    </head>
<body>

<!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="home">
              <a href="home"><img src="static/img/logo.png" alt="" class="img-fluid"></a>Agrichain
            </a></h1>
          </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#steps">Model</a></li>
            {% if not current_user.is_authenticated %}
            <li><a href="/login">Login</a></li>
            <li><a href="chooseRole">Register</a></li>
            {% endif %}
            <li><a href="#team">Team</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
            </ul>
        </nav><!-- .nav-menu -->

    </div>
</header><!-- End Navbar -->

<div class="page-content">
    <div class="form-v10-content" style=width:750px;>
        <form class="form-detail" action="{{url_for('fpc.fpcPage')}}" method="POST" enctype="multipart/form-data" id="myform">
            <div class="form-left">
                <h2 style="text-align: center; margin-bottom: 40px;"><b>AgriChain - Retailer's Portal</b></h2>
                <h3 class="text-dark" style="margin-left: 55px; margin-bottom: 35px;">You have successfully logged in as a Retailer</h3>

                <div class="form-group">
                    <div class="form-row form-row-2">
                            <label for="exampleFormControlInput1" class="text-dark" style="margin-left: 50px; font-size: 20px;">Choose a function</label>
                    </div>
                </div>
                
                <div class="form-row">
                    <button type="button submit" class="btn btn-dark btn-lg" style="margin-right: 10px; padding: 10px" name="retailerProfile"><h4>Update profile</h4></button>
                    
                    <button type="button submit" class="btn btn-dark btn-lg" style="margin-right: 10px;" name="addTransaction"><h4>Add Transaction details</h4></button> 
                </div>
            </div>
        </form>
    </div>
</div>
</body>

{% endblock %}
</html>