<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "headerlinks.html" %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="../static/css/track.css" rel="stylesheet" type="text/css">
    <style>
    .timeline__event__icon {flex-basis: 110px;}
    </style>
    </head>

    <!-- ======= Navbar ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="home">
              <a href="home"><img src="static/img/logo.png" alt="" class="img-fluid"></a>Agrichain
            </a></h1>
          </div>

        {% if current_user.role == "FARMER" or  current_user.role == "FPC" or current_user.role == "RETAIL_STORE" %}
        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li class="active"><a href="home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#steps">Model</a></li>
                {% if not current_user.is_authenticated %}
                <li><a href="/login">Login</a></li>
                <li><a href="chooseRole">Register</a></li>
                {% endif %}
                <li><a href="#team">Team</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
        <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li><a href="home">Home</a></li>
              <li><a href="/#about">About</a></li>
              <li><a href="/#steps">Model</a></li>
              <li class="active"><a href="login">Login</a></li>
              <li><a href="chooseRole">Register</a></li>
              <li><a href="/#team">Team</a></li>
            </ul>
          </nav>
        {% endif %}
        <!-- .nav-menu -->

    </div>
</header><!-- End Navbar -->

    <body class="form-v10">
        <div class="page-content">  
            <div class="form-v10-content" style=width:750px; >
                <form class="form-detail" action="/tracking" method="POST" id="myform">
                    <div class="form-left">
                            <h2 style="text-align: center;"><b>Customer</b></h2>
                        <div class="form-group">
                            <div class="form-row form-row-1">
                                <p style="font-size: large;">Enter the tracking ID to trace product path</p>
                            </div>
							<div class="form-row form-row-1">
								<input type="text" id="t_id" name="t_id" class="input-text" placeholder="Tracking ID " required>
                            </div>
                        </div>
                    <div class="form-row ">
                        <div class="col-md-12 text-center">
                            <button id="submitbutton" name="submitbutton" class="btn btn-dark"
                            style="padding: 5px; width: 20%;"><h3>Track</h3></button>
                        </div>
                    </div>  
                </form>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
                <div class="modal-dialog" role="document">
                <div class="modal-content">       
                    <div class="modal-body">
                        <h2 style="font-weight: 600;">Product Tracking</h2>
                        <div class="timeline">
                            <div class="timeline__event  animated fadeInUp delay-2s timeline__event--type3">
                                <div class="timeline__event__icon ">
                                    <i class="fab fa-pagelines"></i>
                                <div class="timeline__event__date">
                                    Crop
                                </div>
                                </div>
                                <div class="timeline__event__content ">
                                <div class="timeline__event__title">
                                    {{txn_log.cropDetails.cropName}}
                                </div>
                                <div class="timeline__event__description">
                                    <p>
                                        <ul class="list-group list-group-flush">
                                            {% if role >= 1 %}
                                            <li class="list-group-item">Crop Grade : {{txn_log.cropDetails.cropGrade}}

                                            </li>
                                            {% endif %}
                                            <li class="list-group-item">Fertilizer Used : {{txn_log.cropDetails.fertilizerUsed}}</li>
                                            <li class="list-group-item">Sowing Date : {{txn_log.cropDetails.sowingDate}}</li>
                                            <li class="list-group-item">Harvesting Date : {{txn_log.cropDetails.harvestDate}}</li>
                                        </ul>
                                    </p>
                                </div>
                                </div>
                            </div>
                        <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type2">
                            <div class="timeline__event__icon ">
                                <i class="fas fa-user"></i>
                            <div class="timeline__event__date">
                                Farmer
                            </div>
                            </div>
                            <div class="timeline__event__content">
                            <div class="timeline__event__title">
                                {{txn_log.f2h.soldBy}}
                            </div>
                            <div class="timeline__event__description">
                                <p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Transaction ID : {{txn_log.f2h.txn_id}}</li>
                                        <li class="list-group-item">Date of Selling : {{txn_log.f2h.dateOfTransaction}}</li>
                                        <li class="list-group-item">Vehicle Type : {{txn_log.f2h.vehicleType}}</li>
                                    </ul>
                                </p>
                            </div>
                            </div>
                        </div>
                        {% if role >= 1 %}
                        <div class="timeline__event animated fadeInUp delay-2s timeline__event--type3">
                            <div class="timeline__event__icon">
                                <i class="far fa-building"></i>
                            <div class="timeline__event__date">
                               &nbsp FPC &nbsp &nbsp 
                            </div>
                            </div>
                            <div class="timeline__event__content">
                            <div class="timeline__event__title">
                                {{txn_log.h2r.soldBy}}
                            </div>
                            <div class="timeline__event__description">
                                <p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Transaction ID : {{txn_log.h2r.txn_id}}</li>
                                        <li class="list-group-item">Date of Selling : {{txn_log.h2r.dateOfTransaction}}</li>
                                        <li class="list-group-item">Vehicle Type : {{txn_log.h2r.vehicleType}}</li>
                                    </ul>
                                </p>
                            </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if role == 2 %}
                        <div class="timeline__event animated fadeInUp delay-3s timeline__event--type2">
                            <div class="timeline__event__icon">
                                <i class="fas fa-building"></i>
                            <div class="timeline__event__date">
                                Retailer
                            </div>
                            </div>
                            <div class="timeline__event__content">
                            <div class="timeline__event__title">
                                {{txn_log.r2c.soldBy}}
                            </div>
                            <div class="timeline__event__description">
                                <p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Transaction ID : {{txn_log.r2c.txn_id}}</li>
                                        <li class="list-group-item">Price : {{txn_log.r2c.price}}</li>
                                        <li class="list-group-item">Quantity : {{txn_log.r2c.quantity}}</li>
                                        <li class="list-group-item"></li>
                                    </ul>
                                </p>
                            </div>   
                            </div>
                        </div>
                        {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <!--Modal ends-->
    </body>
    <script>
        var displayModal = "{{displayModal}}";
        console.log(displayModal)
        if(displayModal==1)
        {
            $("#exampleModal").modal("show");
        }

        $(document).ready(function() {

            var url_string = window.location.href;
            var url = new URL(url_string);
            document.getElementById('t_id').value = url.searchParams.get("t_id");
        });

    </script>
</html>