<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Crop Details</title>
		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Font-->
		<link rel="stylesheet" type="text/css" href="../static/css/montserrat-font.css">
		<link rel="stylesheet" type="text/css" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
		<!-- Main Style Css -->
		<link rel="stylesheet" href="../static/css/index.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
		

          <!-- Vendor CSS Files -->
          <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
          <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
          <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
          <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
          <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
          <link href="static/vendor/aos/aos.css" rel="stylesheet">
  
          <!-- Template Main CSS File -->
          <link href="static/css/style.css" rel="stylesheet">
	
	</head>

	 <!-- ======= Navbar ======= -->
	 <header id="header" class="fixed-top">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1 class="text-light"><a href="index.html">Agrichain</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                <li class="active"><a href="home">Home</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="chooseRole">Register</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Navbar -->


	<body class="form-v10">
		<div class="page-content">
			<div class="form-v10-content">
				<form class="form-detail" action="/addCropDetails" method="POST" id="myform">
					<div class="form-left">
						<h2><b>Crop Details - Farmer's Portal</b></h2>

						<div class="form-group">
							<div class="form-row form-row-1">
								<input type="text" name="crop_name" id="crop_name" class="input-text" placeholder="Crop Name" required>
							</div>
							<div class="form-row form-row-2">
								<select name="crop_type">
									<option value="choose">Choose Crop Type</option>
									<option value="fruits">Fruits</option>
									<option value="vegetables">Vegetables</option>
								</select>
								<span class="select-btn">
									<i class="zmdi zmdi-chevron-down"></i>
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row form-row-1">
								<input type="text" name="fertilizer" id="fertilizer" class="input-text" placeholder="Fertilizers used" required>
							</div>
							<div class="form-row form-row-2">
									<input type="number" name="quantity" id="quantity" class="input-text" placeholder="Quantity(in kgs)" required>
								</div>
						</div>
						<div class="form-group">
							<div class="form-row form-detail">
								<input type="text" name="source_tag_number" id="source_tag_number" class="input-text" placeholder="Source Tag Number" required>
							</div>
						</div>
						

						<div class="form-group">
							<!-- <label for="example-date-input" class="col-2 col-form-label" style="margin-left: 50px; font-size: large;">SowingDate</label> -->
							<p style="margin-left: 65px; font-size: large;"><b>Sowing date</b></p>
							<div class="form-row form-row-1">
							  <input class="form-control" type="date" value="2011-08-19" style="margin-left: 35px;" name="sowing_date" id="sowing_date">
							</div>
						</div>

						<div class="form-group">
							<!-- <label for="example-date-input" class="col-4 col-form-label" style="margin-left: 50px; font-size: large;">HarvestingDate</label> -->
							<p style="margin-left: 65px; font-size: large;"><b>Harvesting date</b></p>
							<div class="form-row form-row-1">
							  <input class="form-control" type="date" value="2011-08-19" style="margin-left: 1px;" name="harvesting_date" id="harvesting_date">
							</div>
						</div>

						<div class="form-row">
							<button type="button submit" class="btn btn-dark btn-lg" style="padding: 10px; width: 40%;"><h3>Register</h3></button>
						</div>

					</div>


					<div class="form-right">
						<div class="form-row">
							<img src="https://images.unsplash.com/photo-1492496913980-501348b61469?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" style="height: 400px; margin-top: 100px; width: 350px;">
						</div>

					</div>
				</form>
			</div>
		</div>
	</body>

</html>
