<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Crop Details</title>
		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- Font-->
		<link rel="stylesheet" type="text/css" href="../static/css/montserrat-font.css">
		<link rel="stylesheet" type="text/css" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		<!-- Main Style Css -->
		<link rel="stylesheet" href="../static/css/index.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

	<body class="form-v10">
		<div class="page-content">
			<div class="form-v10-content">
				<form class="form-detail" action="/register" method="POST" id="myform">
					<div class="form-left">
						<h2><b>Crop Details - Farmer's Portal</b></h2>

						<div class="form-group">
							<div class="form-row form-row-1">
								<input type="text" name="first_name" id="first_name" class="input-text" placeholder="Crop Name" required>
							</div>
							<div class="form-row form-row-2">
								<select name="activity1">
									<option value="choose">Choose Crop Type</option>
									<option value="fruits">Fruits</option>
									<option value="vegetables">Vegetables</option>
								</select>
								<span class="select-btn">
									<i class="zmdi zmdi-chevron-down"></i>
								</span>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row form-row-1">
								<input type="text" name="last_name" id="last_name" class="input-text" placeholder="Enter Fertilizers used" required>
							</div>
						</div>

						<div class="form-row">
							<input type="text" name="last_name" id="last_name" class="input-text" placeholder="Crop Registration Code" required>
						</div>
						<div class="form-row">
							<select name="activity1">
								<option value="Dance">Chose Season of growth</option>
								<option value="Music">Summer</option>
								<option value="Art&Craft">Winter</option>
								<option value="Brain Games">Monsoon</option>
							</select>
							<span class="select-btn">
								<i class="zmdi zmdi-chevron-down"></i>
							</span>
						</div>
						<div class="form-group">
							<div class="form-row form-row-1">
								<input type="text" name="last_name" id="last_name" class="input-text" placeholder="Source Tag Number" required>
							</div>
						</div>
						<div class="form-group">
							<div class="form-row form-row-1">
								<input type="text" name="last_name" id="last_name" class="input-text" placeholder="Enter Crop Quantity" required>
							</div>
						</div>

						<div class="form-group">
							<label for="example-date-input" class="col-2 col-form-label" style="margin-left: 70px; font-size: large;">Sowing Date</label>
							<div class="form-row form-row-1">
							  <input class="form-control" type="date" value="2011-08-19" style="margin-left: 35px;" id="example-date-input">
							</div>
						</div>

						<div class="form-group">
							<label for="example-date-input" class="col-2 col-form-label" style="margin-left: 70px; font-size: large;">Harvesting Date</label>
							<div class="form-row form-row-1">
							  <input class="form-control" type="date" value="2011-08-19" style="margin-left: 1px;" id="example-date-input">
							</div>
						</div>

						<div class="form-row">
							<button type="button submit" class="btn btn-primary btn-lg">Register</button>
						</div>

					</div>


					<div class="form-right">
						<div class="form-row">
							<img src="https://images.unsplash.com/photo-1492496913980-501348b61469?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" style="height: 600px; margin-top: 120px; width: 350px;">
						</div>

					</div>
				</form>
			</div>
		</div>
	</body>

</html>
