<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <!-- Font-->
        <link rel="stylesheet" type="text/css" href="../static/css/montserrat-font.css">
        <link rel="stylesheet" type="text/css" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        
        <!-- Main Style Css -->
        <link rel="stylesheet" href="../static/css/index.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
        <!-- Vendor CSS Files -->
        <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
        <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
        <link href="static/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
        <link href="static/vendor/aos/aos.css" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link href="static/css/style.css" rel="stylesheet">

    </head>

    <!-- ======= Navbar ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex">
    
            <div class="logo mr-auto">
                <h1 class="text-light"><a href="home">
                  <a href="home"><img src="static/img/logo.png" alt="" class="img-fluid"></a>Agrichain
                </a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
              </div>
    
          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li><a href="home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#steps">Model</a></li>
              <li class="active"><a href="login">Login</a></li>
              <li><a href="chooseRole">Register</a></li>
              <li><a href="#team">Team</a></li>
            </ul>
          </nav><!-- .nav-menu -->
    
        </div>
    </header><!-- End Navbar -->

    <body class="form-v10">
        <div class="page-content">
            <div class="form-v10-content" style=width:750px;>
                <form class="form-detail" action="{{url_for('login')}}" method="POST" id="myform">
                    <div class="form-left">
                        <h2>Enter credentials to login</h2>


                        <div class="form-group">
							<div class="form-row form-row-1">
								<input type="email" id="email" name="email" class="input-text" placeholder="Your email address" required>
                        </div>
                        <!-- <div class="form-right">
                            <div class="form-row">
                                <img src="../resources/images/signin-image.jpg" style="height: 400px;">
                            </div>
    
                        </div> -->

                        <div class="form-group">
                            <div class="form-row">
                                <input type="password" name="password" class="input-text" placeholder="Password">
                            </div>
                        </div>   
                    </div>


                    <div class="form-row ">
                        <button type="button submit" class="btn btn-dark btn-lg" style="padding: 10px; width: 20%;"><h3>Login</h3></button>
                    </div>
                    
                </form>
            </div>
        </div>
    </body>

</html>
