<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <!-- Mobile Specific Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Font-->
        <link rel="stylesheet" type="text/css" href="../static/css/montserrat-font.css">
        <link rel="stylesheet" type="text/css" href="../static/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
        <!-- Main Style Css -->
        <link rel="stylesheet" href="../static/css/index.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    <body class="form-v10">
        <div class="page-content">
            <div class="form-v10-content" style=width:750px;>
                <form class="form-detail" action="{{url_for('login')}}" method="POST" id="myform">
                    <div class="form-left">
                        <h2>Enter credentials to login</h2>


                        <div class="form-group">
							<div class="form-row form-row-1">
								<input type="email" id="email" name="email" class="input-text" placeholder="Your email address" required>
                        </div>
                        <!-- <div class="form-right">
                            <div class="form-row">
                                <img src="../resources/images/signin-image.jpg" style="height: 400px;">
                            </div>
    
                        </div> -->

                        <div class="form-group">
                            <div class="form-row">
                                <input type="password" name="password" class="input-text" placeholder="Password">
                            </div>
                        </div>   
                    </div>


                    <div class="form-row ">
                        <button type="button submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </body>

</html>
